:root{
    --main-principal: #F3F4F6;
    --main-primario: #B8B5FF;
    --main-secundario: #AEE6E6;
    --main-fondo: #2E2E2E;
    --main-acentos: #FFD6D6;
}

*{
    margin: 0;
    padding: 0;
}

/* Base styles*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-principal);
}

h1 {
  font-family: 'Great Vibes', serif;
  font-weight: 400;
}

h1, h2, h3{
  font-size: 3.5rem;
}

/*Nav*/
#navbar{
    display: flex;
    position: fixed;  
    justify-content: flex-end;
    top: 0;
    left: 0;
    background: var(--main-primario);
    z-index: 10;
    width: 100%;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-principal);
}

.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-list a:hover {
    background: var(--main-secundario);
}

/* Welcome section */
#welcome-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-principal);
}

.wrap-description{
    align-content: center;
    width: 50%;
    height: 100vh;
}
.wrap-imgen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 50%;
    height: 100vh;
}

.wrap-imgen img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: var(--main-primario);
    border-radius: 48%;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.help {
    background: linear-gradient(145deg, #2a2a2a, #383838);
    border: 2px solid var(--main-primario);
}
.help:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px var(--main-primario);
}

.acerca{
    display: inline-block;
    position: relative;
    margin-left: 60px;
}

.acerca::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--main-secundario);
    transition: transform 0.25s ease-out;
}

.acerca:hover::after {
transform: scaleX(1);
}

.acerca::after {
transform-origin: bottom left;
}
/* Projects section */
#projects{
    color: var(--main-fondo);
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-secundario);
}

.projects-section-header{
    max-width: 640px;
    margin: 0 auto 5rem auto;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

img {
    display: block;
    width: 100%;
}

.project-image {
    height: calc(90% - 5rem);
    width: 100%;
    object-fit: cover;
}

.grid-content{
    background: var(--main-fondo);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-tile {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

.code {
    color: var(--main-fondo);
    transition: color 0.3s ease-out;
}
  
.project:hover .code {
    color: #ff7f50;
}

.btn-show-all{
    font-size: 1.5rem;
    background: var(--main-fondo);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-primario);
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 10px;
}

/* Contact section */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background: var(--main-fondo);
}

.contact-section-header > p {
    font-size: 1rem;
    font-style: italic;
}

.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details{
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
  
.contact-details:hover {
    transform: translateY(8px);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    margin-bottom: 10px;
}
.fab, .fas{
    padding-right: 5px;
}

/*Footer section*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--main-primario);
    border-top: 3px solid var(--main-primario);
    padding: 1rem;
    font-weight: 300;
}

footer > p {
    font-size: 1rem;
    margin: 1rem;
}
@media (max-width: 768px) {
    html {
      font-size: 60%;
    }
}
@media (max-width: 425px) {
    html {
      font-size: 50%;
    }
    #welcome-section{
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center;
        height: auto !important;
    }
    .wrap-description, .wrap-imgen{
        text-align: center;
        width: 100% !important;
    }
}
